title {
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    width: 44em;
    height: 35em;
    border:  0.125em solid black;
}
