* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #dcdcdc;
}
.logo {
    width: 7em;
}
body {
    background: linear-gradient(#62d09b37,#4BA6E8); /* can refine the gradient opacity further by clicking on the box*/
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.332); /*change transparency*/
    width: 50%;
    max-width: 30em;
    /* media query for scaling to 90% for phone*/
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center; /* normally aligns vertically, but flex direction as column flips the axis*/
    justify-content: center; /*normally aligns horizontally*/
}
@media (max-width: 600px) {
    .login-form-container {
        width: 90%;
    }
}
.input-fields {
    width: 85%; /*relative to parent*/

}
.input-field {
    width: 100%;
    padding-top: 0.5em;
}
.input-field input{
    width: 100%;
    height: 3em;
    border-radius: 8px;
    margin-top: 0.3em;
    padding: 1em 0.6em;
    border: 2px solid gray;
    font-size: 1em;
}
.submit-button {
    height: 3em;
    width: 100%;
    margin-top: 2em;
    border-radius: 15px;
    border: none;
    background-color: #2D64BD;
    transition: 0.3s;
    color: white;
}
.submit-button:hover {
    height: 3em;
    width: 100%;
    margin-top: 2em;
    border-radius: 15px;
    background-color: #4477c8;
    transition: 0.3s;
}