<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }} ">
    <title></title>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <img src="{{ url_for('static', filename='To-Do_App_Logo.png') }}" class="logo">
        </div>
        <div class="header-right">

        </div>
    </div>
    <div class="body">

    </div>
</body>