<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }} ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
   
        <div class="login-form-container">
            <img src="{{ url_for('static', filename='To-Do_App_Logo.png') }}" class="logo">
            <h2>Register</h2>
            <form method="POST" action="/register" enctype="multipart/form-data">
            <div class="input-fields">
                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="email" name='email' id="email" placeholder="example@example.com" minlength="4" maxlength="200" required></input>
                </div>
                <div class="input-field">
                    <label for="username">Username</label>
                    <input type="text" name='username' id="username" placeholder="Enter your username." minlength="2" maxlength="200" required></input>
                </div>
                <div class="input-field">
                    <label for="password">Password</label>
                    <input type="password" name='password' id="password" placeholder="Enter your password." minlength="8" maxlength="200" required></input>
                </div>
                <input type="submit" class="submit-button" value="Create account"></input>
            
            </div>
            </form>
</body>